<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div [ngClass]="['alert', notify.type]" role="alert" *ngIf="notify.show == true">
          {{notify.msg}}
        </div>
        <div class="card">
          <div class="card-header p-0">
            <div class="form-group">
              <form #postForm="ngForm">
                <textarea required cols="30" name="postBox" [(ngModel)]="post_string" rows="3" class="form-control" id="post-box"
                  placeholder="Talk yhur mind..."></textarea>
                <div class="mt-4">
                  <button type="button" class="btn btn-primary float-right" [disabled]="!postForm.form.valid || disable == true"
                    (click)="postData()">
                    Oya talk!
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card-body py-0">
            <div class="row my-4" *ngFor="let post of posts">
              <div class="col-2">
                <img src="" alt="">
              </div>

              <div class="col-10">
                <h2>
                  <strong>{{post.User.fullname}}</strong>
                  <p>
                    {{post.content}}
                  </p>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</main>