<main>
  <section class="content pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-primary" (click)="changeSection('profile')">PROFILE</a>
            </li>
            <li class="list-group-item">
              <a (click)="changeSection('occupation')">OCCUPATION</a>
            </li>
            <li class="list-group-item">
              <a (click)="changeSection('financial')">FINANCIAL DATA</a>
            </li>
            <li class="list-group-item">
              <a (click)="changeSection('password')">CHANGE PASSWORD</a>
            </li>
            <li class="list-group-item">
              <a (click)="changeSection('settings')">SETTINGS</a>
            </li>
          </ul>
        </div>
        
        <div class="col-md-8">
          <app-biodata *ngIf="current_section == 'profile'"></app-biodata>
          
          <app-occupation *ngIf="current_section == 'occupation'"></app-occupation>
        </div>
      </div>
    </div>
  </section>
</main>